{% extends "../base/survey.html" %}

{% block title %}Survey Complete{% end %}

{% block body %}
  <div class="col-lg-offset-2 col-lg-8">
    <h2>Survey Complete</h2>

    <p>Thank you very much for your participation in the study, and for your completion of the survey.  The study is now complete.
      You will receive a follow up email shortly describing how to remove the extension from your browser.  If you have any
      problems with this, there will also be sessions to remove the browser extension with a research assistant.
    </p>

    <p>Thank you again for your time and help.  If you have any questions, comments or concerns, please contact the
      research assistant using the below information.</p>

  </div>
{% end %}
