<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Default Title{% end %} | UIC Security Study</title>
        <link href="{{ static_url('contrib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ static_url('stylesheets/main.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-4">
                    <img src="{{ static_url('images/cslogo_ds.png') }}" alt="UIC Computer Science Dept Logo">
                </div>
                <div class="col-lg-4">
                    <h1>UIC Security Study {% block title %}Default Title{% end %}</h1>
                </div>
            </div>
            <div class="row">
                {% block body %}
                {% end %}
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <section>
                        <h2>I have questions.  What can I contact?</h2>
                        <p>This study is being carried out by <a href="http://peteresnyder.com">Peter Snyder</a>.  Please feel free to contact me with any questions you might have at <a href="mailto:psnyde2@uic.edu">psnyde2@uic.edu</a>.</p>

                        <p>This research is being conducted by <a href="http://www.cs.uic.edu/~ckanich/">Chris Kanich</a> at the University of Illinois at Chicago and <a href="http://www.cs.unc.edu/~reiter/">Mike Reiter</a> at the University of Northern Carolina. It has been approved by the UIC Office for the Protection of Research Subjects as protocol number #2013-0886.</p>
                    </section>
                </div>
            </div>
        </div>

        {% block scripts %}
        {% end %}
    </body>
</html>
