{% extends "../base/signin.html" %}

{% block title %}User Identification Service{% end %}

{% block body %}
<hr/>
 <div style="text-align: center; margin-top: 10pt"/>
 <form name="id" method="POST" action="/bluestem/login.cgi">

<label for="password" style="font-family: sans-serif; font-weight: bold">Password</label> <input type="password" size="20" name="password" id="passwordInput"/> <input type=submit value="Enter"><br/>
      Enter password* for NetID <b>psnyde2</b>, then press Enter.<br/>
      <span style="font-size:11pt">*ACCC common password or UICMC password</span>
</div>
 </form>

<hr style="width: 60%"/>

 <p style="font-weight: bold; text-align: center">Things you should know...</p>
<blockquote>

   <ul>
       <li>Remember to quit your browser before leaving your computer.

       <li>The only WWW servers authorized to ask for your
           UIC NetID password are:

           <blockquote><b>

ness.uic.edu<br/>

</b></blockquote>


           <li>This page's URL should start with <code>https://</code> followed
           by one of the servers listed above. Report the URL of any other
           WWW server that asks for your NetID password
           to <a href=mailto:systems@uic.edu>systems@uic.edu</a>.</li>

       <li>The security padlock icon for this page should be closed/locked.</li>
       <li> To change or recover your password, please visit <a href="http://password.accc.uic.edu" style="font-weight:
       bold">http://password.accc.uic.edu</a>.</li>
   </ul>

   </blockquote>
   <hr>
   <address>
   <a href=http://www.uic.edu/depts/accc/cso/ target=_blank>CSO Consultants</a> -
   <a href=mailto:consult@uic.edu>consult@uic.edu</a>
   </address>
<script type="text/javascript">
document.getElementById('passwordInput').focus();
</script>
{% end %}
