{% extends "../base/signin.html" %}

{% block title %}Bluestem ID Server{% end %}

{% block body %}
 <br/>

 <div style="text-align: center; font-size: 14pt; font-weight: bold; color: #c00"/>
 Invalid Referral to UIC WWW Identification Service
 </div>
 <div style="text-align: center; font-size: 14pt; color: #c00"/>
 Please configure your browser to accept cookies and try again.
 </div>

   <blockquote>
   <p>You arrived at this service someway other than by
   referral from an authorized server, perhaps by
   typing in a URL, or returning to a previous
   authentication page.</p>
   </blockquote>
   <hr/>
   <address>
   <a href=http://www.uic.edu/depts/accc/cso/ target=_blank>CSO Consultants</a> -
   <a href=mailto:consult@uic.edu>consult@uic.edu</a>
   </address>
   <br>
   <hr>
{% end %}
